/* Body & Header */
body {
    font-family: "poppins";
}

header {
    height: 100px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    justify-content: space-between;
}

li a {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: #544837;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 p {
    width: 518px;
    height: 108px;
    font-family: "poppins";
    font-size: 44px;
    line-height: 54px;
}

/* Images & Logos */
.jumpingstudents {
    display: inline;
    max-width: 605px;
    height: 496px;
}

.convobubble {
    display: inline;
    max-width: 520px;
    height: 573px;
}

.logo-1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
}

.item-text {
    width: 30%;
    justify-content: space-around;
}

/* Text & Containers */
.content-left {
    width: 30%;
}

.content-left1 {
    width: 35%;
}

.content-left2 {
    width: 33%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2f281e;
}

h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2f281e;
}

h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2f281e;
}

p {
    display: inline-block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.content-right1 {
    flex-direction: column;
    width: 30%;
}

.content-mid {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 99%;
    margin: 5px;
    min-height: 10vh;
    background-color: #ffffff;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 99%;
    margin: 5px;
    min-height: 10vh;
    background-color: #ffffff;
}

.h3one {
    margin-left: 60px;
}

.h3two {
    margin-left: 10px;
}

.h3three {
    margin-right: 20px;
}

.h3four {
    margin-right: 40px;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.undertext1 {
    margin-left: 80px;
}

.undertext2 {
    margin-left: 50px;
}

.undertext3 {
    margin-right: 50px;
}

.undertext4 {
    margin-right: 50px;
}

.text3 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.main-btn {
    width: 175px;
    height: 53px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background: #ff9900;

    font-family: "poppins";
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}

.signup-btn {
    width: 175px;
    height: 53px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background: #ff9900;

    font-family: "poppins";
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}

.signin-btn {
    width: 102px;
    height: 46px;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 4px;
    border-color: #94cbf0;
    background-color: #ffffff;

    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #173a56;
}

.mid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 53px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background: #ff9900;

    font-family: "poppins";
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}

.second-btn {
    height: 24px;
    left: 16%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    border: none;

    color: #ff9900;
    background: #ffffff;
}

.last-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 30px;
    padding: 1opx;
    border: none;
    border-radius: 4px;
    background: #ff9900;

    font-family: "poppins";
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}
.triangle {
    margin-left: 50px;
}

/* FontAwesome */
i {
    width: 35px;
    height: 35px;
    color: #ff9900;
    border-radius: 13.4px;
}

/* Footer */

.container4 {
    display: flex;
    justify-content: center;
}

.textbox {
    margin: 20px;
}

.footer-list {
    display: inline-block;
}

.last-list {
    display: inline-block;
}
